<h2>Create New Character</h2>
<form action="/characters/create" method="post">

<div>
    <label for="myName">Name</label>
    <input id="myName" type="text" name="name">
</div>

<div>
    <label for="myOccupation">Occupation</label>
    <input id="myuOccupation" type="text" name="occupation">
</div>

<div>
    <label for="myWeapon">Weapon</label>
    <input id="myWeapon" type="text" name="weapon">
</div>

<div>
    <label for="myDebt">Debt</label>
    <input id="myDebt" type="checkbox" name="debt" value="true">
</div>

<button type="submit">Create!</button>

</form>